/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "microsoft yahei",Arial,Helvetica,'simhei';
}

body {
  line-height: 1;
  -webkit-backface-visibility:hidden;
  -webkit-transform-style:preserve-3d;/*解决闪屏*/
}

:focus {
  outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
  display: block;
}

li, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* common */
input:focus,button:focus,select:focus,textarea:focus {
  outline: 0;
}

a.hidefocus,a:active,a:focus,.hidefocus:focus,input[type=button] ,input[type=submit] {
  outline: none;
  -moz-outline: none;
}

button.hidefocus::-moz-focus-inner {
  border: none;
}

a:link,a:visited,a:active {

  text-decoration: none;
  transition:color 0.3s ease-in;
}

a:hover {
  text-decoration: none;

}

a,input,button,select,textarea,div,section {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

body {

  overflow-x: hidden;
  background: #ebebeb;
}
.clear:after{
content:"";display:block;overflow:hidden;clear:both;
}

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fenxiang:before { content: "\e603"; }
.icon-biaoqian:before { content: "\e604"; }
.icon-toupiaotie:before { content: "\e607"; }
.icon-iconfontyonghu:before { content: "\e605"; }
.icon-wenzhang:before { content: "\e606"; }
.icon-pinglun:before { content: "\e608"; }
.icon-wenti:before { content: "\e60b"; }
.icon-jiantouxia:before { content: "\e60a"; }
.icon-jiantou:before { content: "\e602"; }
.icon-iconfonti2:before { content: "\e600"; }
.icon-dianzan:before { content: "\e609"; }
.icon-iconfonti2-copy:before { content: "\e601"; }
